---
import { css } from "@styles/system/css";

import ButtonBar from "@/components/ButtonBar.astro";
import { Editor } from "@/components/Editor";
import InputControls from "@/components/InputControls.astro";
import TokenControls from "@/components/TokenControls.astro";
import TokenOutput from "@/components/TokenOutput.astro";
import Layout from "@/layouts/Base.astro";
import { defaultContent } from "@/stores/index";
---

<Layout title="Kitoken - Tokenize Everything">
    <main
        class={css({
            layout: "column",
            gap: "unset",
            minHeight: "100%",
            justifyContent: "flex-start",
            alignItems: "stretch",
            clipPath: "inset(0 0 0 0)",
            "& h2, & [data-lexical-editor=true]": {
                textShadow: "0 0 5px {colors.background.primary}",
            },
        })}
    >
        <section
            class={css({
                zIndex: 10,
                layout: "column",
                fontSize: "x3",
                fontWeight: "medium",
                alignItems: "stretch",
                justifyContent: "stretch",
                flex: 0,
                minHeight: "calc(min(50dvh, 300px))",
                maxHeight: "50dvh",
                height: "min-content",
                position: "relative",
                clipPath: "inset(0 0 0 0)",
                "&:hover::after": {
                    backgroundColor: "{colors.border.active}",
                },
                "&:has(:focus)::after, &:hover:has(:focus)::after": {
                    backgroundColor: "{colors.brand.secondary.blue}",
                },
                "&::after": {
                    content: "''",
                    fillSpace: "absolute",
                    maskImage: `url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect \
                        x='0%25' y='0%25' width='100%25' height='100%25' \
                        fill='transparent' stroke='black' stroke-width='4px' stroke-dasharray='10px 10px' /%3E%3C/svg%3E")`,
                    maskPosition: "left top",
                    maskSize: "100% 100%",
                    maskRepeat: "no-repeat",
                    background: "{colors.border.primary}",
                    transitionTimingFunction: "{easings.easeSmooth}",
                    transitionDuration: "normal",
                    transitionProperty: "background-color",
                    pointerEvents: "none",
                },
                "&:hover #cover": {
                    opacity: 0.75,
                },
                "&:has(:focus) #cover, &:hover:has(:focus) #cover": {
                    opacity: 0.5,
                },
                "&:has([data-has-content=true]) #cover": {
                    opacity: "0 !important",
                },
            })}
        >
            <Editor client:only="react" />
            <h1
                id="cover"
                class={css({
                    fillSpace: "absolute",
                    pointerEvents: "none",
                    padding: "x2",
                    userSelect: "none",
                    fontWeight: "750",
                    overflowWrap: "break-word",
                    wordWrap: "break-word",
                    wordBreak: "break-word",
                    overflow: "auto",
                    minHeight: "100%",
                    outline: "transparent",
                    border: "inset 3px transparent",
                    transitionTimingFunction: "{easings.easeSmooth}",
                    transitionDuration: "normal",
                    transitionProperty: "opacity",
                })}
            >
                Kitoken.<wbr />
                <span
                    class={css({
                        opacity: 0.5,
                        fontWeight: "500",
                        letterSpacing: "-0.15rem",
                        display: "inline-block",
                    })}
                    >{
                        defaultContent.startsWith("Kitoken. ")
                            ? defaultContent.slice(8)
                            : defaultContent
                    }</span
                >
            </h1>
            <ButtonBar>
                <InputControls />
            </ButtonBar>
        </section>
        <section
            class={css({
                zIndex: 0,
                layout: "column",
                alignItems: "stretch",
                flex: 0,
                flexBasis: "min-content",
                maxHeight: "25dvh",
                height: "auto",
                overflow: "visible",
                position: "relative",
            })}
        >
            <TokenOutput />
            <ButtonBar justify="flex-start">
                <TokenControls />
            </ButtonBar>
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: 0,
                paddingX: "x2",
                paddingTop: "sm",
                fontWeight: "bold",
                cursor: "default",
                clipPath: "inset(0 0 0 0)",
            })}
        >
            <h2>
                Fast and versatile tokenizer for language models with BPE,
                Unigram and WordPiece tokenization.<br />
                Compatible with SentencePiece, Tokenizers, Tiktoken and more.
            </h2>
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: "0 0 {spacing.md}",
                userSelect: "none",
            })}
        >
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: 0,
                paddingX: "x2",
                paddingTop: "sm",
                fontWeight: "normal",
                fontFamily: "main",
                userSelect: "none",
                cursor: "default",
                "& .list": {
                    display: "flex",
                    flexWrap: "nowrap",
                    gap: "lg",
                },
                "& .model": {
                    fontSize: "md",
                    position: "relative",
                    whiteSpace: "nowrap",
                    cursor: "pointer",
                    fontWeight: "bold",
                    paddingX: "xs",
                    "&::before": {
                        content: "''",
                        width: "100%",
                        bottom: "0",
                        left: "0",
                        position: "absolute",
                        height: "25%",
                        background: "{colors.brand.secondary.gold}",
                        mixBlendMode: "multiply",
                        transitionProperty: "height, background, opacity",
                        transitionTimingFunction: "{easings.easeSmooth}",
                        transitionDuration: "normal",
                        opacity: 0.35,
                    },
                    "&:hover::before": {
                        height: "50%",
                        opacity: 0.75,
                        background: "{colors.brand.primary.gold}",
                    },
                },
                "& .overl": {
                    whiteSpace: "nowrap",
                    position: "sticky",
                    right: "0",
                    height: "100%",
                    color: "text.primary",
                    paddingRight: "x2",
                    paddingLeft: "lg",
                    display: "flex",
                    background: "{colors.background.primary}",
                    transition: "none",
                    animation: "none",
                    "& > .model": {
                        fontWeight: "normal",
                    },
                    "&::before": {
                        content: "''",
                        position: "absolute",
                        height: "100%",
                        right: "0",
                        top: "0",
                        width: "calc(100% + 70px)",
                        background: `linear-gradient(
                            90deg, transparent 0,
                            {colors.background.primary} 75px)`,
                        pointerEvents: "none",
                    },
                },
            })}
        >
            <p>
                <span class="list">
                    <span>Tokenize</span>
                    <span class="model">Llama 3</span>
                    <span class="model">Llama 2</span>
                    <span class="model">GPT-4</span>
                    <span class="model">GPT-4o</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">Mistral</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="model">NeMo</span>
                    <span class="overl">
                        <!-- and more -->
                        <span class="model">and everything else</span>
                    </span>
                </span>
            </p>
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: "0 0 {spacing.md}",
                userSelect: "none",
            })}
        >
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: 0,
                paddingX: "x2",
                paddingTop: "sm",
                fontWeight: "normal",
                fontFamily: "main",
                userSelect: "none",
                cursor: "default",
                "& .list": {
                    display: "inline-flex",
                    flexWrap: "wrap",
                    gap: "lg",
                    textAlign: "center",
                    "& i": {
                        paddingX: "xs",
                        opacity: 0.65,
                        fontSize: "md",
                    },
                },
                "& a": {
                    position: "relative",
                    color: "text.primary",
                    textDecoration: "none",
                    fontWeight: "bold",
                    cursor: "pointer",
                    "&::before": {
                        content: "''",
                        width: "100%",
                        bottom: "0",
                        left: "0",
                        position: "absolute",
                        height: "25%",
                        background: "{colors.brand.secondary.blue}",
                        mixBlendMode: "multiply",
                        transitionProperty: "height, background, opacity",
                        transitionTimingFunction: "{easings.easeSmooth}",
                        transitionDuration: "normal",
                        opacity: 0.25,
                    },
                    "&:hover::before": {
                        height: "50%",
                        opacity: 0.55,
                        background: "{colors.brand.primary.blue}",
                    },
                },
            })}
        >
            <p>
                <span class="list">
                    See the
                    <a href="https://github.com/Systemcluster/kitoken"
                        ><i class="ri-github-line"></i>GitHub Repository</a
                    >
                    <a href="/"><i class="ri-box-3-line"></i>Rust Crate</a>
                    <a href="/"><i class="ri-box-3-line"></i>Python Package</a>
                    <a href="/"
                        ><i class="ri-box-3-line">JavaScript Package</i></a
                    >
                    or type above
                </span>
            </p>
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "stretch",
                flex: "1 10 auto",
                userSelect: "none",
            })}
        >
        </section>
        <section
            class={css({
                zIndex: 1,
                layout: "column",
                alignItems: "flex-start",
                flex: 0,
                paddingX: "x2",
                paddingY: "x3",
                opacity: 0.35,
                "& p": {
                    cursor: "help",
                    fontFamily: "main",
                },
                "& h3": {
                    cursor: "help",
                    fontWeight: "bold",
                    paddingY: 0,
                    fontFamily: "head",
                },
                "& *+p": {
                    marginTop: "md",
                },
            })}
        >
            <p>
                <h3>What is a Tokenizer?</h3>
                <p>
                    A tokenizer turns language model inputs from text into a
                    series of numbers, called tokens, which a language model is
                    trained to understand.<br />
                    There are many algorithms for this process - <strong
                        >BPE</strong
                    >, <strong>Unigram</strong> and <strong>WordPiece</strong>
                    are the most popular and widespread.<br />
                    All language models use a tokenizer for their text inputs, each
                    with a different set of available tokens.
                    <br />
                </p>
                <p>
                    <strong>Kitoken</strong> is a tokenizer for any model.
                </p>
            </p>
        </section>
    </main>
</Layout>
